openai==1.78.1
requests==2.32.3
pydantic==2.11.4
graphviz==0.20.3
IPython==9.2.0
pytz==2025.2
llama-index==0.12.36
llama-index-llms-openai-like==0.3.4
langchain==0.3.25
langchain-openai==0.3.17
langgraph==0.4.5
langgraph-cli[inmem]==0.2.10
debugpy==1.8.14
autogen-agentchat==0.5.7
autogen-ext[openai]==0.5.7
semantic-kernel==1.30.0
pyperclip==1.9.0
python-dotenv==1.1.0
semantic-kernel[realtime]==1.30.0
pyaudio==0.2.14
sounddevice==0.5.1
pydub==0.25.1
browser-use
fastmcp==2.3.4
fastapi==0.115.12
langchain-mcp-adapters==0.1.0
uvicorn==0.34.2